FIRECRAWL_KEY=""
# If you want to use your self-hosted Firecrawl, add the following below:
# FIRECRAWL_BASE_URL="fc-f180d1b975a0493e8554d6e5f15c95f8c"

CLAUDE_API_KEY=""
# If you want to use other OpenAI compatible API, add the following below:
# OPENAI_ENDPOINT="http://localhost:11434/v1"
# OPENAI_MODEL="llama3.1"
